@import "../../sassStyle/_fonts";
@import "../../sassStyle/_mixins";
@import "../../sassStyle/_variables";

.contact__container {
  background-image: url("../../assets/ContactUsSection.jpg");
  height: 100%;
  // z-index: -3;
  // position: relative;
  padding-bottom: 20px;
  // background-position: bottom;
  background-size: cover;
  // background-repeat: no-repeat;
  //object-fit: contain;
  //border: 2px solid blue;
  @include Flexbox();
  &__mini {
    width: 100%;
    height: 100%;
   // border: 2px solid yellow;
    display: flex;
    align-items: center;
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 100px;
    //  border: 2px solid blue;
  }
  &__content--title {
    margin: 30px 0 20px 0;
    color: $Orange;
    font-size: 3rem; //50px;
    //font-family: $OpenSans;
    font-family: 'Soage', sans-serif;
    
    // border: 2px solid blue;
    width: 80%;
  }
  &__content--subtitle {
    margin: 20px 0;
    color: $White;
    font-size: 20px;
    font-family: $OpenSans;
  }
  &__content--info {
    margin: 20px 0;
    font-family: $OpenSans;

    color: $White;
  }
  &__formContainer {
    display: flex;
    justify-content: center;
    // border: 2px solid red;
  }
  .e,
  .p,
  .u {
    color: $Orange;
    font-size: 25px;
  }
  &--formTag {
    width: 80%;
    // border: 2px solid yellow;
  }
  &__form {
    width: 50%;
    //border: 2px solid red;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 100px;
  }
  &--formTitle {
    font-family: $OpenSans;
    margin: 30px 0;
    text-align: center;
    //font-size: 30px;
    color: $White;
  }
  &--label {
    display: block;
    font-family: $OpenSans;
    font-weight: bold;
    font-size: 1.5rem;//25px;
    color: $Orange;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: -13px -21px 123px -30px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: -13px -21px 123px -30px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: -13px -21px 123px -30px rgba(0, 0, 0, 1) inset;
    // box-shadow: 0 0 0 0.9px #000;
  }
  &--input {
    width: 100%;
    position: relative;
    height: 30px;
    padding-left: 10px;
    //margin-left: 20px;
    //z-index: 100;
  }
  &--textarea {
    width: 100%;
    padding: 10px 0 0 10px;
  }
  .send {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: $Orange;
    color: #fff;
    font-size: 27px;
    width: 80%;
    border: none;
    //border-radius: 10px;
    height: 50px;
  }
}

@media only screen and (max-width: 865px) {
  .contact__container {
    &__mini {
      flex-direction: column;
    }
    &__content {
      width: 100%;
     // border: 2px solid red;
      margin-left: 0;
    }
    &__content--title {
      text-align: center;
      width: 100%;
      //border: 2px solid red;
    }
    &__content--subtitle {
      text-align: center;
    }
    &__content__info {
      margin: 0 auto;
      //display: flex;
    }
    &__content--info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
    }
    .e,
    .p,
    .u {
      font-size: 35px;
    }

    &__form {
      width: 100%;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 404px) {
  .contact__container {
    &__content--title {
      font-size: 2.5rem;
    }
    &__content--subtitle {
      margin: 10px 0;
    }
    &--formTitle{
      font-size: 24px;
    }
    &--label{
      font-size: 1.3rem;
    }

    &--formTag {
      width: 93%;
    }
  }
}

@media only screen and (max-width: 341px) {
  .contact__container {
    &__content--title {
      font-size: 2.3rem;
    }
  }
}
