@import "../../sassStyle/_fonts";
@import "../../sassStyle/_mixins";
@import "../../sassStyle/_variables";

.orangeBtn__container{
width: 200px;
background-color: $Orange;
font-size: 25px;
font-family: $OpenSans;
color: $White;
height: 60px;
border: none;
transition: opacity .4s;
border-radius: 10px;
font-weight: 500;
cursor: pointer;
}
.orangeBtn__container:hover{
    opacity: .8;
}